@use 'scss-vars-into-css-props' as *;
@use 'sass:map';

// Цвета
// =============================================================================
$line-height-ratio: 1.6;

$vars: (
  'prefix': 'ph',
  'color': (
    primary-300: hsl(154 6% 53%),
    primary-400: hsl(153 5% 37%),
    secondary-300: hsl(284 28% 87%),
    secondary-400: hsl(195 53% 79%),
    secondary-500: hsl(195 80% 50%),
    neutral-100: hsl(0 0% 100%),
    neutral-200: hsl(45 24% 90%),
    neutral-900: hsl(0 0% 0%),
    gray-200: hsl(200 9% 87%),
    gray-400: hsl(0 0% 51%),
    gray-600: hsl(202 10% 37%),
    gray-800: hsl(0 0% 20%),
    accent-400: hsl(153 38% 41%),
    error: #f00,
    warning: #ff0,
    success: #0f0,
  ),
  'ff': (
    'primary': "'Open Sans', sans-serif",
    'secondary': "'Mulish', sans-serif",
  ),
  'fw': (
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
  ),
  'fs': (
    200: 0.75rem,
    300: 0.875rem,
    400: 1rem,
    500: 1.25rem,
    600: 1.5rem,
    800: 2.5rem,
    900: 4.375rem,
  ),
  'spacing': (
    4: 0.25em,
    8: 0.5em,
    16: 1em,
    24: 1.5em,
    32: 2em,
    40: 2.5em,
    48: 3em,
    56: 3.5em,
    64: 4em,
  ),
  'border': (
    'radius': (
      'xs': 2px,
      'sm': 4px,
      'md': 8px,
      'lg': 16px,
    ),
    'width': (
      'default': 1px,
      'thick': 2px,
    ),
  ),
  'container': (
    'padding-sm': 1rem,
    'padding-md': 2rem,
    'width': 80rem,
  ),
  'viewport': (
    'min-width': 320px,
    'max-width': 1280px,
  ),
  'sidebar-width': 10rem,
  'measure': 50ch,
  'space': 1rem,
  'line-height': 1.5,
);

:root {
  @include scss-vars-into-css-props($vars);
}

// --
$color: map.get($vars, 'color');
$ff: map.get($vars, 'ff');
$fw: map.get($vars, 'fw');
$fs: map.get($vars, 'fs');
$spacing: map.get($vars, 'spacing');
$border: map.get($vars, 'border');
$container: map.get($vars, 'container');
$viewport: map.get($vars, 'viewport');

// Для функции линейной интерполяции размера шрифта better-clamp
$prefix: map.get($vars, 'prefix');
$viewport-min-width: map.get($viewport, 'min-width');
$viewport-max-width: map.get($viewport, 'max-width');
$sidebar-width: map.get($vars, 'sidebar-width');

// // Выделение фокуса тенью
// $shadow-focus: 0 0 0.35em -0.1em $color-accent-strong-dark;

// // Анимация
// $animation-duration: 0.2s;
// $animation-timing-function: ease-in-out;

// // Брейк-поинты

// $pc: em($container-width); // ПК, ноутбуки, планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
// $mobile: em(767.98); // Телефоны L
// $mobile-small: em(479.98); // Телефоны S
