// Заголовки, общие БЄМ блоки и проче...

.container,
[class$='__container'] {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-md);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex: 1 1 auto;
  }
}
