@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* stylelint-disable selector-id-pattern */

html,
body,
#__next,
#root {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed; // выше качество, медленнее - optimizeLegibility
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  display: inline-block;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

hr {
  border-color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
}

/* Create a root stacking context */
/* stylelint-disable-next-line */
#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
